html, body, #root, .centered-container {
  height: max-content;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

#root {
  background-color: #dbe3e5;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20.5V18H0v-2h20v-2H0v-2h20v-2H0V8h20V6H0V4h20V2H0V0h22v20h2V0h2v20h2V0h2v20h2V0h2v20h2V0h2v20h2v2H20v-1.5zM0 20h2v20H0V20zm4 0h2v20H4V20zm4 0h2v20H8V20zm4 0h2v20h-2V20zm4 0h2v20h-2V20zm4 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2z' fill='%23aca092' fill-opacity='0.51' fill-rule='evenodd'/%3E%3C/svg%3E");
}

fieldset {
  background-color: white;
}

.centered-container {
  display: grid;
  place-items: center;
}

pre {
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 4rem;
  background-color: #ddd;
}

p {
  max-width: 80ch;
}

details summary { 
  cursor: pointer;
}
